/GestorProductosFX/target/
# Compilación y binarios
*.class
*.jar
*.war
bin/
target/
out/

# Configuraciones de IDE (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
.settings/
.project
.classpath
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
